/*estilo de toda la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


*   {margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body__Margen {
    font-family: Secular One, cursive, sans-serif;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: rgb(0, 0, 0);
    
}

.Barra__Navegacion {
    background-color: rgba(241, 54, 238, 0);
    

}

.header__Principal {
    width: 100%;
       
}



/*.row {
   height: 100%;
  
}*/

.card {    
    height: 100%;
}

.card-body {
    padding:5%;
  }

.seccion__Cards {
    margin-top: 2%;    
    margin-bottom: 2%;
}


.div__cards {
    background-color: blue;

}

.card__izq {
    background-image: url(../assets/img/card6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #000000;
}

.card-title {
    backdrop-filter: blur(3px);    
    text-align: center;
    margin:0 auto;
    width: auto;
    padding: 5%
}


.card-text {
    font-family: Secular One, sans-serif;
    
    font-style: italic;
    backdrop-filter: blur(3px);    
    text-align: center;
    margin:0 auto;
    width: auto;
    padding: 2%;
}




.btn {
    display: block;
    padding:2%;   
}

.btn-primary {
    font-family: Secular One, sans-serif;
    color: #110e0e;
    background-color: rgb(248, 152, 247);
    border-color: rgb(248, 152, 247);
}

.btn-primary:hover {
    color: #fff;
    background-color: #ba0fc7;
    border-color: #ba0fc7;
}





.titulo__Quienesomos{
    font-family: Secular One, sans-serif;
    color: #fb50e1;
    text-align: center;
    margin: 4%;
   ;
    font-size: 10rem;
    padding: 1%;
}


















/*estilos del footer*/
a { text-decoration: none;
    list-style: none;
    color: black;
}

.pieDePagina{
    background-color: rgb(248, 152, 247);
    margin-top: 0;
    text-align: center;
    height: 100%;
    position:relative;
    display:block;
}

.iconosRedes {
    color: rgba(0, 0, 0, 0.796);
    padding: 10px;
    margin-left: 50px;
    padding-top: 3%;
    padding-bottom: 2%;
}

.listadoPaginasPie {
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: 'Carter One', cursive;
    display: inline-block;
    padding: 0 10px 10px 10px;
}

.derechosFooter {
    color: black;
    font-size: 1rem;
}







.div__Video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}



.row .g-2 {
    margin-bottom: 2%;
}


.card-title {
    font-family: Secular One, sans-serif;
    color: #4a126c;
    

    
}

.card__Clase {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #f3b8f3;
    margin-bottom: 2%;

}

.imagen__Coord {
    border-radius: 50%;
    padding: 2%;
    justify-content: center;
        align-items: center;
}


@media screen and (max-width: 767px) {
    .imagen__Coord {
        width: 60%;      
        margin-left: 22%;}
    .card-title {
        padding-top: 0.25vh;}
                                    }

@media screen and (min-width: 767px) {
   
    .imagen__Coord {
        position: relative;
        top: 5%;
        padding: 5%;}
                                    }







 
.seccion__Preguntas {
    margin-bottom: 10%;
}



.boton__Preguntas {
    margin-left: 10%;
    
    position: relative;
    width: 100%;
    margin-right: 0%;
  
}

.dropdown-toggle{
    background-color: #e21ce2;    
}

.dropdown-menu {
    color: #f467f4;
    background-color: black;
    padding: 2%;
}

.btn-secondary:hover{
    color: #fff;
    background-color: #000408;
    border-color: #565e64;
  }

  .btn-check:focus + .btn-secondary, .btn-secondary:focus {
    color: #ffffff;
    background-color: #641aaa;
    border-color: #565e64;
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
  }

  .dropdown-item {
    background-color: #000000;
    padding: 0;
  }



  .form-label {
    color: #f467f4;
    font-family: Secular One, sans-serif;

  }

  .boton__Enviar {
    margin-bottom: 10px;
  }