/* backdrop-filter: blur(3px);    
 text-align: center;
 margin:0 auto;
 width: auto;*/
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Genos&display=swap"');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap" rel="stylesheet');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.body__Margen {
  margin-left: 2%;
  margin-right: 2%;
  background-image: radial-gradient(circle, #000000, #12060b, #1b0d15, #23121d, #2a1527, #2a1527, #2a1527, #2a1527, #23121d, #1b0d15, #12060b, #000000);
}

.Barra__Navegacion .flexible {
  width: 100%;
  justify-content: flex-end;
}
.Barra__Navegacion .flexible .nav__Li {
  margin-left: 1%;
}
.Barra__Navegacion .flexible .nav__Li .texto__Li {
  font-family: "Secular One", sans-serif;
  text-shadow: 3px 4px 5px rgb(221, 94, 183);
}
.Barra__Navegacion .flexible .nav__Li .texto__Li:hover {
  text-decoration: underline;
}
.Barra__Navegacion .LogoDiv .LogoStyle {
  height: 100px;
  border-radius: 15% 60% 15% 60%;
  border-color: rgb(221, 94, 183);
  border-style: double;
  border-width: 10px;
  transition: border-color 2s, transform 2s;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(228, 21, 215);
}
.Barra__Navegacion .LogoDiv .LogoStyle:hover {
  transform: rotate(360deg);
  border-color: rgb(4, 0, 5);
}

.header__Principal {
  width: 100%;
}

/*.row {
   height: 100%;}*/
/*css de las cards*/
.seccion__Cards {
  margin-top: 2%;
  margin-bottom: 2%;
}
.seccion__Cards .row .col-sm-6 {
  margin-bottom: 2%;
}
.seccion__Cards .card {
  height: 100%;
}
.seccion__Cards .card__izq {
  background-image: url(../assets/img/card66.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #f5e2f4;
}
.seccion__Cards .card__izq .card-body {
  padding: 5%;
}
.seccion__Cards .card__izq .card-body .card-title {
  backdrop-filter: blur(3px);
  text-align: center;
  margin: 0 auto;
  width: auto;
  padding: 5%;
  font-family: Secular One, sans-serif;
  color: #facff9;
  text-shadow: 3px 4px 5px black;
}

.card-text {
  font-family: "Secular One", sans-serif;
  color: rgb(221, 94, 183);
  font-style: italic;
  backdrop-filter: blur(3px);
  text-align: center;
  margin: 0 auto;
  width: auto;
  padding: 2%;
  text-shadow: 3px 4px 5px black;
}

.btn {
  display: block;
  padding: 2%;
}

.btn-primary {
  font-family: "Secular One", sans-serif;
  color: #ffffff;
  background-color: rgb(248, 152, 247);
  border-color: rgb(248, 152, 247);
  text-shadow: 3px 4px 5px black;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(221, 94, 183);
  border-color: rgb(221, 94, 183);
}

.card__Clase {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #f3b8f3;
  margin-bottom: 2%;
}
.card__Clase .imagen__Coord {
  border-radius: 50%;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

/*.row .g-2 {
    margin-bottom: 2%;}*/
@keyframes float {
  0% {
    transform: translateY(0); /*The starting point of the animation is 0.*/
  }
  50% {
    transform: translateY(-25px); /*The middle point of the animation is -15xp. This will move the element up.*/
  }
  100% {
    transform: translateY(0); /*The last point of the animation is going back to the starting state of 0.*/
  }
}
.pieDePagina {
  background-color: rgb(248, 152, 247);
  text-align: center;
  height: 100%;
  position: relative;
  display: block;
}
.pieDePagina .iconosRedes {
  color: rgba(0, 0, 0, 0.796);
  padding: 4%;
  padding-top: 4%;
  padding-bottom: 2%;
  animation: float infinite 6s ease-in-out;
}
.pieDePagina .fa-square-facebook {
  animation-delay: 1s;
}
.pieDePagina .fa-tiktok {
  animation-delay: 1s;
}
.pieDePagina .listadoPaginasPie {
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: "Carter One", cursive, sans-serif;
  display: inline-block;
  padding: 0 10px 10px 10px;
}
.pieDePagina .derechosFooter {
  color: black;
  font-size: 1rem;
}

@media screen and (max-width: 767px) {
  .pieDePagina .iconosRedes {
    padding-top: 7%;
  }
}
@media screen and (max-width: 412px) {
  .pieDePagina .iconosRedes {
    animation: none;
  }
}
/*Css de Cursos*/
.titulo__Cursos {
  font-family: "Genos", sans-serif;
  color: rgb(221, 94, 183);
  text-align: center;
  margin: 4%;
  font-size: 4rem;
  padding: 1%;
  text-shadow: 3px 3px 5px rgb(146, 145, 145);
}

@media screen and (max-width: 767px) {
  .titulo__Cursos {
    font-size: 2.2rem;
  }
}
.seccion__Cards .card__Uno {
  background-image: url(../assets/img/cejas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #f5e2f4;
}
.seccion__Cards .card__Uno .card-body .card-title {
  backdrop-filter: blur(3px);
  text-align: center;
  margin: 0 auto;
  width: auto;
  padding: 5%;
  font-family: "Carter One", cursive, sans-serif;
  color: rgb(248, 152, 247);
  text-shadow: 3px 4px 5px black;
  text-decoration: underline;
}
.seccion__Cards .card__Uno .card-text {
  font-family: "Secular One", sans-serif;
  color: white;
  text-shadow: 3px 4px 5px black;
}
.seccion__Cards .card__Dos {
  background-image: url(../assets/img/pinceles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #f5e2f4;
}
.seccion__Cards .card__Dos .card-body .card-title {
  backdrop-filter: blur(3px);
  text-align: center;
  margin: 0 auto;
  width: auto;
  padding: 5%;
  font-family: "Carter One", cursive, sans-serif;
  color: rgb(248, 152, 247);
  text-shadow: 3px 4px 5px black;
  text-decoration: underline;
}
.seccion__Cards .card__Dos .card-text {
  font-family: "Secular One", sans-serif;
  color: white;
  text-shadow: 3px 4px 5px black;
}
.seccion__Cards .card__Tres {
  background-image: url(../assets/img/automaquillaje.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #f5e2f4;
}
.seccion__Cards .card__Tres .card-body .card-title {
  backdrop-filter: blur(3px);
  text-align: center;
  margin: 0 auto;
  width: auto;
  padding: 5%;
  font-family: "Carter One", cursive, sans-serif;
  color: rgb(248, 152, 247);
  text-shadow: 3px 4px 5px black;
  text-decoration: underline;
}
.seccion__Cards .card__Tres .card-text {
  font-family: "Secular One", sans-serif;
  color: white;
  text-shadow: 3px 4px 5px black;
}
.seccion__Cards .card__Cuatro {
  background-image: url(../assets/img/hilo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #f5e2f4;
}
.seccion__Cards .card__Cuatro .card-body .card-title {
  backdrop-filter: blur(3px);
  text-align: center;
  margin: 0 auto;
  width: auto;
  padding: 5%;
  font-family: "Carter One", cursive, sans-serif;
  color: rgb(248, 152, 247);
  text-shadow: 3px 4px 5px black;
  text-decoration: underline;
}
.seccion__Cards .card__Cuatro .card-text {
  font-family: "Secular One", sans-serif;
  color: white;
  text-shadow: 3px 4px 5px black;
}

/*css de Preguntas Frecuentes*/
.div__Preguntas {
  margin-top: 2%;
  margin-bottom: 4%;
}
.div__Preguntas .titulo__PreguntasFrecuentes {
  font-family: "Genos", sans-serif;
  color: rgb(221, 94, 183);
  text-shadow: 3px 3px 5px rgb(146, 145, 145);
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .div__Preguntas .titulo__PreguntasFrecuentes {
    font-size: 1.8rem;
  }
}
.seccion_Preguntas {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.boton__Preguntas {
  width: 100%;
  position: relative;
  margin-right: 0%;
}

.dropdown-toggle {
  font-family: "Secular One", sans-serif;
  background-color: #e21ce2;
  justify-content: center;
  white-space: pre-line;
  width: 70%;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #000408;
  border-color: rgba(86, 94, 100, 0);
}

.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #ffffff;
  background-color: #885FDE;
  border-color: rgba(86, 94, 100, 0);
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

.dropdown-menu {
  font-family: "Carter One", cursive, sans-serif;
  color: rgb(221, 94, 183);
  background-image: radial-gradient(circle, #404144, #323134, #242324, #161515, #000000);
  padding: 2%;
  border-color: rgba(0, 0, 0, 0.0588235294);
  border-width: 3px;
}

ul.dropdown-menu.show {
  border-color: rgba(0, 0, 0, 0.0588235294);
  border-width: 3px;
}

.dropdown-item {
  background-color: #000000;
  padding: 0;
}

/*css de Contacto*/
.div__Contacto {
  margin-top: 2%;
  margin-bottom: 4%;
}
.div__Contacto .titulo__Contacto {
  font-family: "Genos", sans-serif;
  color: rgb(221, 94, 183);
  text-shadow: 3px 3px 5px rgb(146, 145, 145);
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .div__Contacto .titulo__Contacto {
    font-size: 1.8rem;
  }
}
.form-label {
  color: #885FDE;
  font-family: "Secular One", sans-serif;
  text-shadow: 0 0 5px rgb(110, 107, 107);
  font-size: 1.5rem;
}

.boton__Enviar {
  margin-bottom: 10px;
  background-color: #885FDE;
}

.section__Form {
  margin: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

/*css de videos*/
.div__Video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.div__Conocenos {
  margin-top: 2%;
  margin-bottom: 4%;
}
.div__Conocenos .titulo__Conocenos {
  font-family: "Genos", sans-serif;
  color: rgb(221, 94, 183);
  text-shadow: 3px 3px 5px rgb(146, 145, 145);
  font-size: 3rem;
  text-align: center;
}

.titCoordinadora {
  font-family: "Genos", sans-serif;
  color: #885FDE;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgb(146, 145, 145);
  text-align: center;
}

.card-text.texto__Titcoordinadora {
  text-shadow: 3px 4px 5px rgb(255, 255, 255);
}

.imagen__Coord {
  max-width: 85%;
}

.col-md-8 p {
  padding-right: 5%;
  font-family: "Ysabeau", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .div__Conocenos .titulo__Conocenos {
    font-size: 1.8rem;
  }
  .col-md-8 p {
    padding-left: 5%;
  }
}
@media screen and (max-width: 767px) {
  .imagen__Coord {
    width: 60%;
    margin-left: 22%;
  }
  .card-title {
    padding-top: 0.25vh;
  }
}
@media screen and (min-width: 767px) {
  .imagen__Coord {
    position: relative;
    top: 5%;
    padding: 5%;
  }
}
.body__Error {
  height: 100%;
}

.div__Error {
  background-image: url("../assets/img/Maquillado-removebg.png");
  height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo__error {
  font-size: 9rem;
  font-family: "Genos", sans-serif;
  color: rgb(255, 255, 255);
  padding-top: 10%;
  padding-left: 5%;
}

.texto__Error {
  font-size: 2rem;
  font-family: "Genos", sans-serif;
  color: rgb(255, 254, 254);
  padding-left: 10%;
}

.aqui__Error {
  color: rgb(221, 94, 183);
}

.aqui__Error:hover {
  text-decoration: underline;
  color: white;
}

@media screen and (max-width: 1132px) {
  .div__Error {
    background-image: url("../assets/img/Maquillado-removebgtablet.png");
  }
  .div__Error .titulo__error {
    font-size: 6rem;
    padding-left: 5%;
  }
  .div__Error .texto__Error {
    font-size: 2rem;
    padding-left: 5%;
  }
}
@media screen and (max-width: 756px) {
  .div__Error {
    background-image: url("../assets/img/Maquillado-removebgvert-removebg-preview.png");
  }
  .div__Error .titulo__error {
    font-size: 4rem;
    padding: 10%;
    padding-left: 10%;
  }
  .div__Error .texto__Error {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
