/*css de Contacto*/

.div__Contacto{
    margin-top: 2%;
    margin-bottom: 4%;
    .titulo__Contacto{
        font-family: $tipografiaTexto3;
        color: $colorPrincipalPagina;
        text-shadow: 3px 3px 5px rgb(146, 145, 145);
        font-size: 3rem;
        text-align: center;}
                }

@media screen and (max-width: 767px) {
    .div__Contacto{
    .titulo__Contacto{
                font-size: 1.8rem;}
                    }
                                    }


.form-label {
    color: $colorSecundarioPagina;
    font-family: $tipografiaTexto;
    text-shadow: 0 0 5px rgb(110, 107, 107);
    font-size: 1.5rem;}

.boton__Enviar {
    margin-bottom: 10px;
    background-color: $colorSecundarioPagina;}

.section__Form{
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;}