/*css de videos*/
    .div__Video {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;}

    
    
  
.div__Conocenos{
    margin-top: 2%;
    margin-bottom: 4%;
    .titulo__Conocenos{
        font-family: $tipografiaTexto3;
        color: $colorPrincipalPagina;
        text-shadow: 3px 3px 5px rgb(146, 145, 145);
        font-size: 3rem;
        text-align: center;}
                }


.titCoordinadora{
        font-family: $tipografiaTexto3;
        color: $colorSecundarioPagina;
        font-weight: bold;
        text-shadow: 3px 3px 5px rgb(146, 145, 145);
        text-align: center;
        }

.card-text.texto__Titcoordinadora{
        text-shadow: 3px 4px 5px rgb(255, 255, 255);}

.imagen__Coord {
    max-width: 85%;}

.col-md-8 p{
    padding-right: 5%;
    font-family: $tipografiaTexto4;
    font-weight: bold;
}
                


@media screen and (max-width: 767px) {
    .div__Conocenos{
    .titulo__Conocenos{
                font-size: 1.8rem;}
                    }
    .col-md-8 p{
        padding-left: 5%;
                    }



                                    }



@media screen and (max-width: 767px) {
    .imagen__Coord {
        width: 60%;      
        margin-left: 22%;}
    .card-title {
        padding-top: 0.25vh;}
                                    }
                    
@media screen and (min-width: 767px) {
    .imagen__Coord {
        position: relative;
        top: 5%;
        padding: 5%;}
                                    }


