*   {margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a { text-decoration: none;
    list-style: none;
    color: black;
}

.body__Margen {
    
    margin-left: 2%;
    margin-right: 2%;
    
    background-image: $fondoGradiente2;}
