
$tipografiaTexto: 'Secular One', sans-serif;
$tipografiaTexto2: 'Carter One', cursive, sans-serif;
$tipografiaTexto3:'Genos', sans-serif;
$tipografiaTexto4:'Ysabeau', sans-serif;
$colorPrincipalPagina: rgb(221, 94, 183);
$colorSecundarioPagina: #885FDE;
$colorTerciarioPagina: #76A8F5;
$colorEspecial: rgb(248, 152, 247);
$fondoGradiente: radial-gradient(circle, #404144, #323134, #242324, #161515, #000000);
$fondoGradiente2: radial-gradient(circle, #000000, #12060b, #1b0d15, #23121d, #2a1527, #2a1527, #2a1527, #2a1527, #23121d, #1b0d15, #12060b, #000000);
$fondoGradiente3: radial-gradient(circle, #401748, #3a1237, #311028, #260d1c, #1b0811, #15050c, #0c0305, #000000, #000000, #000000, #000000, #000000);
$sombraNegra: 3px 4px 5px black;


$colores: (
    colorPrincipal: rgb(221, 94, 183),
    colorSecundario:  #885FDE,
    colorTerciario: #76A8F5,
    colorEspecial: rgb(248, 152, 247)
);



