
$tipografiaTexto: Secular One, sans-serif;
$tipografiaTexto2: Carter One, cursive, sans-serif;
$colorPrincipalPagina: rgb(221, 94, 183);
$colorSecundarioPagina: #885FDE;
$colorTerciarioPagina: #76A8F5;
$colorEspecial: rgb(248, 152, 247);
$fondoGradiente: radial-gradient(circle, #404144, #323134, #242324, #161515, #000000);

$sombraNegra: 3px 4px 5px black;


$colores: (
    colorPrincipal: rgb(221, 94, 183),
    colorSecundario:  #885FDE,
    colorTerciario: #76A8F5,
    colorEspecial: rgb(248, 152, 247)
);



